* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #cecccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 450px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.container h1 {
    text-align: center;
    color: rgb(0, 34, 128);
    margin-bottom: 20px;
    font-size: 35px;
}

input {
    width: 100%;
    padding: 11px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(0, 34, 128);
}

button {
    display: block;
    margin: 0 auto;
    padding: 12px 22px;
    cursor: pointer;
    background-color: rgb(0, 34, 128);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.4s ease;
}

button:hover {
    background-color: white;
    color: rgb(0, 34, 128);
    border: 2px solid rgb(0, 34, 128);
}

h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: rgb(0, 34, 128);
}

h3 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dbdada;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0;
    transition: 0.4s ease;
}

li button:hover {
    background-color: rgb(202, 16, 16);
    color: white;
    border: 2px solid rgb(202, 16, 16);
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .container h1 {
        font-size: 28px;
    }

    button {
        width: 100%;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    li button {
        width: 100%;
    }
}